<!-- {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
     
      
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
     
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
    <title>Login TU</title>
</head>
<body>

    
    
    <div>
        <div class="uk-background-contain uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle">
            <img  data-src="{% static "images/bg1.jpg" %}" uk-img  >
            
        </div>
    </div>
    
</body>

</html> -->

{% load static %}
<!DOCTYPE HTML>
<html>
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
     
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />
     
        <!-- UIkit JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Montserrat&display=swap" rel="stylesheet">
     
<title>Title of the document</title>
    </head>

    <style>
    .bgimg-1{
        background-image: url('{% static "images/bg2.jpg" %}');
        min-width: 100%;
        min-height: 100%;
            ;
    }
    
</style>

<body>
    <div class="uk-position-relative">
       
        <div class="uk-position-top">
            <nav class="uk-navbar-container uk-navbar-transparent-primary" uk-navbar>
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <p>Login TU</p>
                        
                             
                         
                        
                    </ul>
                </div>
            </nav>
            <!--  <form action="/action_page.php">
                <div class="form-group">
                        <label class="control-label col-sm-2" for="email">Email:</label>
                        <div class="col-sm-10">
                  <input type="email" class="form-control" id="email">
                </div>
                </div>
                <div class="form-group">
                  <label for="pwd">Password:</label><br>
                  <input type="password" class="form-control" id="pwd">
                </div>
                <br><button type="submit" class="btn btn-default">Submit</button>
              </form>
        </div> 
        </div> -->

        <form class="form-horizontal" action="/action_page.php">
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Email:</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Enter email">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="pwd">Password:</label>
              <div class="col-sm-10"> 
                <input type="password" class="form-control" id="pwd" placeholder="Enter password">
              </div>
            </div>
            <div class="form-group"> 
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label><input type="checkbox"> Remember me</label>
                </div>
              </div>
            </div>
            <div class="form-group"> 
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>
          </form>

        
</body>

</html>